@charset "UFT-8";

@media screen and (min-width: 768px) {


  .menu-hamb,
  .menu-config {
    display: none;
  }



  .logo {
    display: grid;
    grid-area: logo;
    width: 200px;
    justify-self: start;
  }

  .logo > img#larger {
    display: inline;
  }

  .logo > img#mobile {
    display: none;
  }

  .menu {
    grid-area: gmenu;
    display: inline;
    justify-self: end;
    padding: 10px;
  }

  .menu > a {
    margin: 10px;
    font-size: 1em;
    font-weight: 600;
  }

  .menu > a:hover {
    color: #5964b3;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.445);
  }

  div.conteiner {
    grid-template-areas: "logo gmenu";
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .artigo {
    min-height: 40vh;
  }

  main h1 {
    font-size: 2.5em;
  }

  main p {
    font-size: 1em;
  }

  main .img {
    width: 250px;
    height: 250px;
  }

  article.sobre{
    grid-template-areas: "h1 h1" "img p1" "img p2";
    padding-bottom: 50px;
  }

  aside {
    position: relative;
    top: -30px;
    max-width: 600px;
  }
}
