@charset "UFT-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  line-height: 1.7em;
}

:root {
  --cor1: #030722;
  --cor5: #10195e;
  --cor4: #2d3888;
  --cor2: #5964b3;
  --cor3: #1f2024;
  --font: Nunito, Arial, san-serif;
}

head,
body {
  height: 100vh;
}

body {
  background: var(--cor1);
}

header {
  background: rgb(17, 17, 17);
}

div.conteiner {
  margin: auto;
  width: 90%;
  padding-top: 30px;
  display: grid;
  grid-template-areas: "menu-hamb logo menu-config";
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-self: center;
  grid-area: logo;
  width: 70px;
}

.logo > img#larger {
  display: none;
}

.logo > img#mobile {
  filter: invert(100%);
}

.menu-hamb {
  display: none;
  grid-area: menu-hamb;
  background: var(--cor3);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

.menu-config {
  display: none;

  grid-area: menu-config;
  background: var(--cor3);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

.menu {
  display: none;
}

header img {
  width: 100%;
}

main {
  background: var(--cor1);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

main article,
aside {
  align-content: center;
  width: 80%;
  padding-block: 10px;
}

main h1 {
  color: transparent;
  background: linear-gradient(0deg, var(--cor2), white);
  font-size: 1em;
  font-weight: 1000;
  font-style: normal;
  -webkit-background-clip: text;
}

main p,
a {
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
}

article.sobre {
  width: 90%;
  padding: 20px;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "h1 h1" "img p1" "p2 p2"
    "p3 p3"
    "p4 p4"
    "p5 p5";
}
article.sobre > h1 {
  grid-area: h1;
}

#sobre1 {
  grid-area: p1;
}

#sobre2 {
  grid-area: p2;
}
#sobre3 {
  grid-area: p3;
}
#sobre4 {
  grid-area: p4;
}
#sobre5 {
  grid-area: p5;
}

main .img {
  width: 100px;
  height: 100px;
  background-image: url(../img/micaelfarias.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50px;
  grid-area: img;
  aspect-ratio: 1/1;
}

.sobre > h1 {
  text-align: center;
}

article.sobre > p {
  text-align: justify;
  text-indent: 15px;
}

main #bgc-dark {
  box-shadow: 0px 8px 10px -5px black inset, 0px -8px 10px -5px black inset;

  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.151);
  width: 100vw;
}

main > aside {
  background: white;
  margin: 10px;
  border-radius: 20px;
  padding-top: 0;
}

main > aside > h1 {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  color: #fffefe;
  background: var(--cor3);
}

ul {
  padding: 10px;
  display: grid;
  justify-content: center;
  list-style-type: none;
  font-weight: 600;
  color: #10195e;
  font-size: 0.8em;
}

footer {
  color: white;
  text-align: center;
  background-color: var(--cor3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
  font-size: 0.7em;
  padding: 10px;
}

a > img {
  padding: 10px;
}
